@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">High-Performance IT Solutions & Services</h1>
    <p>En Global <a href="https://globalhitss.com/">Hitss </a>desarrollamos la Sociedad Digital.</p>
</div>
